{% extends "base.html" %}
{% block content %}
  <section class="section_cad mb-6 pt-5 mt-5">
    <div class="container_cad_vei has-background-black-bis mt-4">
      <div class="container_title pb-5 ml-5">
        <h1 class="title has-text-white pt-5 ml-5">Cadastro do Carro</h1>
      </div>
      <form action="" class="form ml-5" id="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field ml-5" id="filed_name">
          <label class="label has-text-white">Modelo:</label>
          <div class="control">
            <input class="input" type="text" placeholder="Digite o modelo" />
          </div>
        </div>
        <div class="field ml-5">
          <label class="label has-text-white">Placa:</label>
          <div class="control">
            <input class="input" type="text" placeholder="Digite a placa" />
          </div>
        </div>
        <div class="field ml-5">
          <label class="label has-text-white">Cor:</label>
          <div class="control">
            <input class="input" type="text" placeholder="Digite a cor" />
          </div>
        </div>
      </form>
      <div class="container_buttons pt-5">
        <div class="buttons pt-5">
          <input class="button is-success is-medium" type="submit" value="Cadastrar" style="margin: 0" />
          <input class="button is-danger is-medium" type="reset" value="Cancelar" style="margin: 0" />
        </div>
      </div>
    </div>
  </section>