<footer class="footer has-background-black is-flex">
        <div class="container has-text-centered">
            <p class="is-size-6 has-text-white">@ 2022 Todos os direitos reservados.</p>
        </div>
        <div class="container_redeSociais mr-6">
            <span class="icon has-text-white">
                <i class="fab fa-facebook-square fa-2x mr-2"></i>
                <i class="fab fa-twitter-square fa-2x mr-2"></i>
                <i class="fab fa-instagram-square fa-2x mr-2"></i>
            </span>
        </div>
</footer>