<section class="section has-background-info-light">
        <div class="container">
            <div class="level is-mobile">
                <div class="container_cli">
                    <div class="level-item has-text-centered">
                        <div class="">
                            <p class="heading pt-6 has-text-white">Clientes</p>
                            <p class="title has-text-white">210</p>
                        </div>
                    </div>
                </div>
                <div class="container_fun">
                    <div class="level-item has-text-centered">
                        <div class="">
                            <p class="heading pt-6 has-text-white">Funcionários</p>
                            <p class="title has-text-white">{{ qtd_funcionarios }}</p>
                        </div>
                    </div>
                </div>
                <div class="container_veic">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading pt-6 has-text-white">Veículos</p>
                            <p class="title has-text-white">{{ qtd_veiculos }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>