{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if object_list %}
        <section class="section">
            <div class="container">
                <div style="text-align: center;">
                    <h1 class="title is-2 pt-4 pb-2">Funcionário Cadastrados</h1>
                </div>
                <form action="" method="GET" class="pb-5" id="formListaFuncionarios">
                    <input type="hidden" name="imprimir" id="imprimir" value="">
                    <div class="field is-grouped is flex is-align-items is-flex-wrap-wrap">
                        <label class="label p-2 mt-">Nome do funcionário: </label>
                    <div class="control is-expanded">
                        <input type="text" class="input" name="buscar" placeholder="Digite o nome do funcionário" value="{{ request.GET.buscar }}">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-success mr-1" onclick="geraPdf('','formListaFuncionarios');">
                            Buscar
                        </button>
                    </div>
                        {% if object_list %}
                        <div class="control">
                        <button type="submit" class="button is-success mr-1" onclick="geraPdf('pdf','formListaFuncionarios');">
                            Imprimir
                        </button>
                        </div>
                        {% endif %}
                    </div>
                </form>
                {% if object_list %}
                <div class="table">
                    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">Nome</th>
                                <th class="has-text-centered">Telefone</th>
                                <th class="has-text-centered">E-mail</th>
                                <th class="has-text-centered">CPF</th>
                                <th class="has-text-centered">Endereço</th>
                                <th class="has-text-centered">Função</th>
                                <th class="has-text-centered" style="width: 100px;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for funcionario in object_list %}
                            <tr>
                                <td><a href="#" data-toogle="modal" class="modal-target" data-bulma-modal="modal{{funcionario.id}}" id="modal{{funcionario.id}}">
                                    {{ funcionario.nome }} </a></td>
                                <td>{{ funcionario.telefone }}</td>
                                <td>{{ funcionario.email }}</td>
                                <td>{{ funcionario.cpf }}</td>
                                <td>{{ funcionario.endereco }}</td>
                                <td>{{ funcionario.funcao }}</td>
                                <td class="has-text-centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                                    <a href="{% url 'funcionario_editar' funcionario.pk %}">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>

                                    <a href="{% url 'funcionario_apagar' funcionario.pk %}">
                                        <span class="icon">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                                <div class="modal" id="modal{{ funcionario.id }}" >
                                    <div class="modal-background" ></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title">Funcionário: {{ funcionario.nome }}</p>
                                        <button class="delete" aria-label="close" data-bulma-modal="close" id="btnClose"></button>
                                        </header>
                                        <section class="modal-card-body is-flex is-justify-content-center">
                                            <div class="content">
                                                <p class="image is-128x128">
                                                    <img src="{{ funcionarios.foto.url}}" class="img-fluid" alt="" />
                                                </p>
                                            </div>
                                        </section>
                                        <footer class="modal-card-footer" >
                                            <p class="has-text-white">Telefone: {{funcionario.telefone}}</p>
                                        </footer>
                                    </div>
                                </div>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            {% include "paginator.html "%}
        </section>
    {% endif %}
{% endblock %}