{% extends "base.html"%}
{% block content %}
    <section class="section_cad py-5">
        <div class="container_cad_fun has-background-black-bis">
            <div class="container_title pb-5 ml-5">
                <h1 class="title has-text-white pt-5 ml-5">Cadastro de Funcionário</h1>
            </div>
            <form action="" class="form ml-5" id="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="field ml-5" id="field_name">
                    {% if field.html_name == 'foto' %}
                        {% if field.value is not empty %}
                            <img src="{{ funcionario.foto.thumbnail.url }}" class="img-fluid"/>
                            <label class="label has-text-white">{{ field }}</label>
                        {% else %}
                            <label class="label has-text-white">{{ field.label }}:<br> {{ field }}</label>
                        {% endif %}
                    {% else %}
                        <label class="label has-text-white">{{ field.label }}:<br> {{ field }}</label>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="container_buttons pt-5">
                <div class="buttons pt-5">
                    <button class="button is-success is-medium" type="submit" style="margin: 0;">Cadastrar</button>
                    <button class="button is-danger is-medium" type="reset" style="margin: 0;">
                        <a href="{% url 'funcionarios' %}">Cancelar</a>
                    </button>
                </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}